name: Build and Push to ECR

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push FastAPI
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/csjin/fastapi:$IMAGE_TAG ./fastapi
          docker push $ECR_REGISTRY/csjin/fastapi:$IMAGE_TAG
          # latest 태그도 같이 푸시 (ArgoCD 연결 전 테스트용)
          docker tag $ECR_REGISTRY/csjin/fastapi:$IMAGE_TAG $ECR_REGISTRY/csjin/fastapi:latest
          docker push $ECR_REGISTRY/csjin/fastapi:latest

      - name: Build & Push Nginx
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/csjin/nginx:$IMAGE_TAG ./nginx
          docker push $ECR_REGISTRY/csjin/nginx:$IMAGE_TAG
          docker tag $ECR_REGISTRY/csjin/nginx:$IMAGE_TAG $ECR_REGISTRY/csjin/nginx:latest
          docker push $ECR_REGISTRY/csjin/nginx:latest
